.footleft a {
    color: black;
    text-decoration: underline;
}

.footleft a:hover {
    background-color: rgba(0,0,0,0.1);
}

.sitemaptekst {
    position: relative;
    top: 70px;
    width: 75%;
    margin: auto;
}

.sitemaptekst h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#overdiv {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.sitemaptekst h3 {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1.6rem;
    text-align: center;
}

.liste {
    text-align: center;
    display: inline-table;
    padding: 10px;
}

.liste li {
    list-style-type: none;
}

.link {
    width: 150px;
    border: 1px solid rgba(0,0,0,1);
    height: 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5px;
    padding-top: 5px;
}

.link a {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1rem;
    position: absolute;
    width: 148px;
    height: 23px;
    left: 0;
    top: 0;
}

.link:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid black;
}

.link2 {
    height: 25px;
    position: relative;
    top: -18px;
    background-color: rgba(0,0,0,0.1);
}

#streg {
    width: 1px;
    height: 250px;
    background-color: black;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 770px) {
    .liste {
        display: block;
    }

    #streg {
        width: 250px;
        height: 1px;
        top: 250px;
    }
}
