.omli, .dropdown-content a.omli {
    text-decoration: underline;
}

.omli {
    text-decoration-color: white;
}

.presentation {
    position: relative;
    top: 100px;
    left: 3%;
    width: 600px;
    border: 1px solid black;
}

span {
    position: relative;
    left: 25px;
    width: 500px;
}

.ca-link {
    color: black;
}

.presentation h3 {
    font-family: Tahoma, Geneva, sans-serif;
    margin-bottom: 0;
    width: 550px;
    font-size: 1.1rem;
}

.presentation p {
    margin-top: 7px;
    width: 550px;
    font-size: 0.9rem;
}
