.kontaktli {
    text-decoration: underline;
}

.kontakttekst {
    position: relative;
    top: 70px;
    width: 75%;
    margin: auto;
}

.kontakttekst h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

#overdiv {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.kontakttekst h3 {
    margin: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    font-size: 1.6rem;
    text-align: left;
}

.liste {
    text-align: center;
}

#left {
    float: left;
}

#right {
    float: right;
}

.liste li {
    list-style-type: none;
}

.link {
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
    margin: 15px 0;
    height: 55px;
}

.link a {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1rem
}

.link table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.link:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid black;
}

.socimg {
    height: 50px;
}

#dk {
    height: 1.2rem;
    position: relative;
    top: 3px;
}

#fyld {
    width: 30px;
}

.ubenyttet {
    margin: 0;
    position: relative;
    font-size: 0.75rem;
    top: -17px;
    width: 150px;
    left: 55px;
}

.link2 {
    height: 55px;
}
