.kontaktli, .dropdown-content a.kontaktli {
    text-decoration: underline;
}

.kontaktli {
    text-decoration-color: white;
}

.kontakttekst {
    position: relative;
    top: 70px;
    width: 75%;
    margin: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#overdiv {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.kontakttekst h3 {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    margin-top: -20px;
}

.liste {
    text-align: center;
    display: inline-table;
    padding: 10px;
}

.liste li {
    list-style-type: none;
}

.link {
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
    margin: 15px 0;
    height: 55px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.link a {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1rem
}

.link table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.link:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid black;
}

.socimg {
    height: 50px;
}

#dk2 {
    height: 1.2rem;
    position: relative;
    top: 3px;
}

#fyld {
    width: 33px;
}

.ubenyttet {
    margin: 0;
    position: relative;
    font-size: 0.75rem;
    top: -17px;
    width: 150px;
    left: 55px;
}

.link2 {
    height: 55px;
}

.tekst {
    height: 1.3rem;
    position: relative;
    top: -3px;
}

.feedback {
    position: relative;
    top: -150px;
    margin: 0 auto;
    width: 20%;
    min-width: 300px;
}

#feedbackname, #feedbackemail, #feedbackcontent {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 0.9rem;
    width: 100%;
    display: block;
    position: relative;
    margin: 3px auto 12px auto;
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
    display: block;
}

#feedbackcontent {
    height: 8rem;
}

#feedbacksubmit {
    background-color: rgba(29,178,61,0.75);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#feedbacksubmit:hover {
   background-color: rgba(29,178,61,0.5);
}

#feedbackname:focus, #feedbackemail:focus, #feedbackcontent:focus {
    box-shadow: 0 8px 20px rgba(220,220,220,1);
}
