/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .kontakttekst {
        top: 150px;
    }

    .kontakttekst h1 {
        font-size: 5rem;
    }

    .kontakttekst h3 {
        font-size: 3.5rem;
    }

    .socimg {
        height: 100px;
    }

    .link {
        height: 105px;
        width: 100%;
    }

    .link a {
        font-size: 2.5rem;
    }

    #dk {
        height: 1.9rem;
    }

    .ubenyttet {
        font-size: 1.4rem;
        top: -32px;
        width: 250px;
        left: 200px;
    }

    .liste {
        width: 750px;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .kontakttekst h1 {
        font-size: 2.5rem;
    }

    .kontakttekst h3 {
        font-size: 1.9rem;
    }
}
