/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .kontakttekst {
        top: 150px;
    }

    h1 {
        font-size: 5rem;
    }

    .kontakttekst h3 {
        font-size: 3.5rem;
    }

    .kontakttekst {
        top: 200px;
        width: 75%;
        margin: auto auto 200px auto;
        border-bottom: 1px solid black
    }

    .socimg {
        height: 100px;
    }

    .link {
        height: 105px;
        width: 100%;
    }

    .link a {
        font-size: 2.5rem;
    }

    #dk2 {
        height: 2.3rem;
    }

    .ubenyttet {
        font-size: 1.4rem;
        top: -32px;
        width: 250px;
        left: 200px;
    }

    .liste {
        width: 750px;
    }

    .feedback {
        margin: 0 auto -50px auto;
        width: 30%;
        min-width: 500px;
    }

    #feedbackname, #feedbackemail, #feedbackcontent {
        font-size: 2.3rem;
    }

    #feedbacksubmit {
        background-color: rgba(29,178,61,       1);
        font-size: 2.5rem;
    }

    label {
        font-size: 2.5rem;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .kontakttekst h1 {
        font-size: 2.5rem;
    }

    .kontakttekst h3 {
        font-size: 1.9rem;
    }
}
