#navn {
    text-decoration: underline;
}

#firsth2 {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0 10px;
}

#firstp, #firsth2 {
    left: 300px;
    position: relative;
    background-color: rgba(245,245,245,0.5);
    border-radius: 3px;
}

#firstp {
    width: 62%;
    padding: 0 10px 10px;
}

#firstboks {
    background-image: url("Images/Mig/IMG_2148@0.5x.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#fritidsinteresser {
    width: 100%;
}

#fritidsinteresser td {
    width: 33%;
    padding: 0 8px;
    vertical-align: top;
}

#fritidsinteresser thead img {
    height: 90px;
}
