.omli, .dropdown-content a.omli {
    text-decoration: underline;
}

.omli {
    text-decoration-color: white;
}

.om-tekst {
    position: relative;
    width: 100%;
    top: 70px;
    margin: auto;
}

.om-tekst h1 {
    font-family: 'Raleway', sans-serif;
}

.ca-link {
    color: black;
}

h2 {
    font-family: Tahoma, Geneva, sans-serif;
}

.boks p {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5rem;
}
