/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .sitemaptekst {
        top: 200px;
    }

    .sitemaptekst h1 {
        font-size: 5rem;
    }

    .sitemaptekst h3 {
        font-size: 3.5rem;
        margin-bottom: 15px;
    }

    .liste {
        display: block;
    }

    .link {
        height: 80px;
        width: 300px;
        margin-bottom: 15px;
    }

    .link a {
        font-size: 2.5rem;
        width: 298px;
        height: 78px;
    }

    .link2 {
        height: 80px;
        top: -40px;
        width: 300px;
    }

    .link2 p {
        position: relative;
        top: 12px;
    }

    #streg {
        width: 550px;
        height: 1px;
        top: 685px;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .sitemaptekst h1 {
        font-size: 2.5rem;
    }

    .sitemaptekst h3 {
        font-size: 1.9rem;
        margin-bottom: 15px;
    }

    .link {
        height: 50px;
        margin-bottom: 15px;
    }

    .link a {
        font-size: 1.8rem;
        height: 48px;
    }

    .link2 {
        height: 50px;
        top: -30px;
    }

    .link2 p {
        position: relative;
        top: 5px;
    }

    #streg {
        height: 480px;
    }
}
