/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {

    #cvid, #billederid, #kontaktid, #omid {
        display: none;
    }

    #dropli {
        display: inline-block;
    }

    .navigation {
        height: 150px;
    }

    #profpic {
        height: 125px;
        width: 125px;
        top: 15px;
        background-size: 125px;
    }

    #profpic:hover {
        background-position: 0 -125px;
    }

    #logo {
        font-size: 50px;
    }

    #logoli {
        width: 450px;
    }

    .divlogo {
        width: 450px;
    }

    #dropimg {
        height: 80px;
    }

    .divdrop {
        height: 100px;
        width: 110px;
        top: 25px;
    }

    .navigation li {
        top: 50px;
    }

    #dropli {
        right: 10%;
    }

    .links {
        right: 10px;
        top: 151px;
        background-color: rgba(240,240,240,1);
        box-shadow: 0 8px 20px rgba(220,220,220,1);
    }

    .links tr {
        display: inline-block;
    }

    .links-logo {
        height: 75px;
        width: 75px;
        margin: 9px;
        margin-bottom: 0;
    }

    .dropdown {
        height: 95px;
        width: 95px;
        top: 50%;
    }

    .dropdown-content {
        width:400px;
        right: 320%;
        top: -10px;
        border-radius: 15px;
        border: 8px solid rgba(25,25,25,0.75);
    }

    .dropdown-content a {
        font-size: 3.5rem;
        line-height: 7rem;
    }

    .dropbtn {
        font-size: 5rem;
        top: -10px;
    }

    #back-to-top {
        width: 150px;
        height: 150px;
        right: 30px;
        bottom: 50px;
        background-size: 130px 80px;
        text-indent: 36px;
        padding-top: 80px;
        font-size: 3rem;
    }

    #footer {
        height: 150px;
        border-top: 3px solid rgba(0,0,0,0.25);
    }

    .foot p {
        font-size: 2.5rem;
        bottom: 84px;
    }

    #foot25 {
        bottom: 12px;
        left: 50%;
        transform: translate(-50%);
    }

    #content {
        padding-bottom: 380px;
    }

    #tab {
        text-indent: 50px;
        margin-top: -20px;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .navigation {
        height: 65px;
    }

    #profpic {
        height: 90px;
        width: 90px;
        top: 8px;
        background-size: 85px;
    }

    #profpic:hover {
        background-position: 0 -85px;
    }

    .navigation li {
        font-size: 22px;
        top: 20px;
        width: 120px;
    }

    #logo {
        font-size: 23px;
    }

    .links {
        top: 65px;
    }

    .links-logo {
        height: 40px;
        width: 40px;
    }

    #back-to-top {
        width: 85px;
        height: 85px;
        right: 25px;
        bottom: 50px;
        background-size: 70px 45px;
        text-indent: 23px;
        padding-top: 48px;
        font-size: 1.5rem;
    }

    #footer {
        height: 40px;
        margin-top: 500px;
    }

    .foot p {
        font-size: 1.4rem;
        bottom: 7px;
    }

    #tab {
        text-indent: 40px;
        margin-top: -10px;
    }
}
