/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .cvtekst {
        top: -80px;
        width: 78%;
    }

    .altekst {
        position: relative;
        top: 280px;
    }

    .cvtekst h1 {
        font-size: 5rem;
    }

    .cvtekst h2 {
        font-size: 3.5rem;
    }

    .cvtekst h3 {
        font-size: 3rem;
    }

    .cvtekst li {
        font-size: 3rem;
    }

    .scrollmenu { /*Skal være her, muligvis som dropdown?*/
        position: relative;
        top: 400px;
        margin: auto;
        width: 75%;
    }

    .scrollmenu h3 {
        font-size: 2rem;
    }

    .scrollmenu a {
        font-size: 1.2rem;
    }

    .hovedemne {
        font-size: 1.5rem;
    }

    .hovedemneliste {
        display: inline-table;
        position: relative;
        padding-left: 7%;
    }

    .grad {
        font-size: 1.5rem;
    }

    .institution {
        font-size: 3rem;
    }

    .skoleintro {
        font-size: 3rem;
        line-height: 4rem;
    }

    .skole {
        margin-top: 2rem;
    }

    .liste {
        left: 150px;
        width: 500px;
    }

    .fag {
        left: 75px;
        width: 700px;
        padding: 15px;
    }

    .semester {
        font-size: 2.8rem;
    }

    .lille {
        font-size: 1rem;
    }

    .popup {
        width: 85%;
        border: 10px solid rgba(41,198,73,1);
    }

    #kryds {
        width: 82%;
    }

    #lukknap {
        width: 60px;
        height: 60px;
    }

    #luklink {
        right: 40px;
    }

    .underline {
        width: 280px;
    }

    .done {
        padding-left: 0rem;
        text-indent: -1.5rem;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .cvtekst {
        margin-left: 0;
        left: 185px;
        width: 68%;
    }

    .scrollmenu {
        top: 130px;
        margin: auto;
        width: 150px;
    }

    .scrollmenu h3 {
        font-size: 1.5rem;
    }

    .grad {
        font-size: 1.5rem;
    }

    .fag {
        font-size: 1.5rem;
    }

    .semester {
        font-size: 1.2rem;
    }

    .cvtekst h3 {
        font-size: 1.4rem;
    }

    .popup {
        width: 60%;
        border: 6px solid rgba(41,198,73,1);
    }

    #kryds {
        width: 59%;
    }

    #lukknap {
        width: 32px;
        height: 32px;
    }

    #luklink {
        right: 10px;
    }
}
