.omli, .dropdown-content a.omli {
    text-decoration: underline;
}

.omli {
    text-decoration-color: white;
}

.presentation {
    position: relative;
    left: 50%;
    transform: translate(-50%, 15%);
    width: 600px;
    border: 1px solid black;
    line-height: 1.5rem;
}

#tab {
    margin-top: -15px;
}

span {
    position: relative;
    left: 25px;
    width: 500px;
}

.ca-link {
    color: black;
}

.presentation h3 {
    font-family: Tahoma, Geneva, sans-serif;
    margin-bottom: 0;
    width: 550px;
    font-size: 1.1rem;
}

.presentation p {
    width: 550px;
    font-size: 1rem;
}
