.billederli, .dropdown-content a.billederli {
    text-decoration: underline;
}

.billederli {
    text-decoration-color: white;
}

table h1 {
    font-family: 'Raleway', sans-serif;
}

.table {
    position: relative;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    text-align: center;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
}

.td {
    padding: 1.5%;
    width: 10px;
}

.tdimg {
    height: 120px;
    width: 120px;
    border-radius: 29px;
}
