/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .presentation {
        width: 94%;
    }

    .presentation p, .presentation h3 {
        font-size: 3rem;
        width: 90%;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {
    .presentation {
        width: 84%;
        top: 125px;
    }

    .presentation p, .presentation h3 {
        font-size: 1rem;
        width: 90%;
    }
}
