.cvli, .dropdown-content a.cvli {
    text-decoration: underline;
}

.scrollmenu {
    position: fixed;
    top: 18%;
    left: 20px;
    width: 10rem;
    border: 1px solid rgba(130,130,130,1);
    background-color: rgba(235,235,235,1);
    z-index: 1;
}

.scrollmenu h3 {
    margin: 0;
    margin-top: 2%;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1rem;
}

.scrollmenu a {
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.78rem;
}

.scrollmenu a:hover {
    text-decoration: underline;
}

.scrollmenu li {
    margin-bottom: 0.4rem;
}

.scrollmenu ul {
    position: relative;
    left: 7%;
}

.hovedemne {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.cvtekst {
    position: relative;
    width: 700px;
    top: 70px;
    margin: auto;
}

#inst {
    margin-top: 3%;
    margin-left: 8%;
}

.cvtekst h1 {
    font-family: 'Raleway', sans-serif;
}

h2, .popup h3, .institution, .skole {
    font-family: Tahoma, Geneva, sans-serif;
}

#uddannelse {
    text-align: center;
}

ul {
    list-style-type: none;
}

.liste, .fag {
    list-style-type: disc;
    position: relative;
    left: 65px;
}

.institution {
    margin-bottom: 0;
    font-size: 1.18rem;
}

.skoleintro {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.3rem;
}

.skole {
    font-weight: bold;
    position: relative;
    left: 25px;
    margin-bottom: 3px;
    margin-top: 6px;
}

.grad {
    position: relative;
    left: 25px;
    font-size: 1rem;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 8000;
    cursor: default;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    width: 450px;
    height: auto;
    max-height: 75%;
    padding: 10px;
    border: 5px solid rgba(41,198,73,1);
    border-radius: 5px;
    background-color: rgba(240,240,240,1);
    z-index: 9999;
    overflow: auto;
}

.popup h3 {
    margin: 10px 0px;
    text-align: center;
}

#lukknap {
    width: 25px;
    height: 25px;
}

#luklink {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

#luklink:hover {
    background-color: rgba(0,0,0,0.1);
}

.fag {
    width: 360px;
    line-height: 1.3;
}

.overlinks {
    height: 50px;
    width: 72px;
    position: fixed;
    right: 10px;
    z-index: 8999;
    background-color: rgba(240,240,240,1);
}

.done {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1.2rem;
    text-indent: -1.2rem;
}

.done:before {
    content: "✓";
    display: inline-block;
    color: rgba(41,198,73,1);
}

.doing {
    font-weight: bold;
}

.next {
    color: rgba(160,160,160,0.9);
    font-style: italic;
}

#grey {
    color: rgba(160,160,160,0.9)
}

.semester {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.9rem;
    padding-left: 1.8rem;
    padding-top: 0.2rem;
    text-decoration: underline;
}

.lille {
    text-align: right;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    color: rgba(160,160,160,0.9);
}

#updated {
    font-style: italic;
    padding-top: 0.2rem;
    top: 89%;
}

.fag a {
    text-decoration: none;
    color: black;
}

.fag a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) and (min-device-width: 414px) {
    .cvtekst {
        margin-left: 0;
        left: 200px;
        width: 65%;
    }
}
