/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {

    #cvid, #billederid, #kontaktid, #omid {
        display: none;
    }

    #dropli {
        display: inline-block;
    }

    .navigation {
        height: 150px;
    }

    #profpic {
        height: 125px;
        width: 125px;
        top: 15px;
        background-size: 150px;
    }

    #logo {
        font-size: 50px;
    }

    #logoli {
        width: 450px;
    }

    .divlogo {
        width: 450px;
    }

    #dropimg {
        height: 80px;
    }

    .divdrop {
        height: 100px;
        width: 110px;
        top: 25px;
    }

    .navigation li {
        top: 50px;
    }

    #dropli {
        right: 10%;
    }

    .links {
        right: 10px;
        top: 151px;
    }

    .links tr {
        display: inline-block;
    }

    .links-logo {
        height: 75px;
        width: 75px;
        margin: 9px;
        margin-bottom: 0;
    }

    .dropdown {
        height: 95px;
        width: 95px;
        top: 50%;
    }

    .dropdown-content {
        width:400px;
        right: 320%;
        top: -10px;
        border-radius: 15px;
        border: 8px solid rgba(41,198,73,1);
    }

    .dropdown-content a {
        font-size: 3.5rem;
        line-height: 7rem;
    }

    .dropbtn {
        font-size: 5rem;
        top: -10px;
    }

    #footer {
        height: 75px;
    }

    .foot p {
        font-size: 2.5rem;
        bottom: 12px;
    }

    #content {
        padding-bottom: 380px;
    }
}

/* FOR PHONES (LANDSCAPE) */
@media only screen and (max-device-width: 413px) and (orientation: landscape) {

    .navigation {
        height: 65px;
    }

    #profpic {
        height: 90px;
        width: 90px;
        top: 8px;
        background-size: 105px;
    }

    .navigation li {
        font-size: 22px;
        top: 20px;
        width: 120px;
    }

    #logo {
        font-size: 23px;
    }

    .links {
        top: 75px;
    }

    .links-logo {
        height: 40px;
        width: 40px;
    }

    .overlinks {
        width: 102px;
        height: 200px;
    }

    #footer {
        height: 40px;
        margin-top: 500px;
    }

    .foot p {
        font-size: 1.4rem;
        bottom: 7px;
    }
}
