.cvli, .dropdown-content a.cvli {
    text-decoration: underline;
}

.cvli {
    text-decoration-color: white;
}

.scrollmenu {
    position: fixed;
    top: 18%;
    left: 20px;
    width: 10rem;
    border: 1px solid rgba(130,130,130,1);
    background-color: rgba(235,235,235,1);
    z-index: 1;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2);
}

.scrollmenu h3 {
    margin: 0;
    margin-top: 2%;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1rem;
}

.scrollmenu a {
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.78rem;
}

.scrollmenu a:hover {
    text-decoration: underline;
}

.scrollmenu li {
    margin-bottom: 0.4rem;
}

.scrollmenu ul {
    position: relative;
    left: 7%;
}

.hovedemne {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.cvtekst {
    position: relative;
    width: 100%;
    top: 70px;
    margin: auto;
}

#inst {
    margin-top: 3%;
    margin-left: 8%;
    width: 7.5rem;
}

.cvtekst h1 {
    font-family: 'Raleway', sans-serif;
}

h2, .popup h3, .institution, .skole {
    font-family: Tahoma, Geneva, sans-serif;
}

.centrer {
    text-align: center;
}

ul {
    list-style-type: none;
}

.liste, .fag {
    list-style-type: disc;
    position: relative;
    left: 65px;
    width: 400px;
}

.liste3 {
    list-style-type: circle;
    position: relative;
    left: 36px;
    width: 235px;
    line-height: 1.5rem;
}

.institution {
    margin-bottom: 0;
    font-size: 1.18rem;
}

.skoleintro {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5rem;
}

.skole {
    font-weight: bold;
    position: relative;
    left: 25px;
    margin-bottom: 6px;
    margin-top: 10px;
}

.grad {
    position: relative;
    left: 25px;
    font-size: 1rem;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 7000;
    cursor: default;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    width: 500px;
    height: auto;
    max-height: 75%;
    padding: 10px;
    border: 3px solid rgba(25,25,25,0.75);
    border-radius: 5px;
    background-color: rgba(240,240,240,1);
    z-index: 8001;
    overflow: auto;
}

.popup h3 {
    margin: 10px 35px;
    text-align: center;
}

#lukknap {
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

#luklink {
    height: 25px;
    width: 25px;
    position: relative;
    float: right;
}

#kryds {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 21%;
    width: 488px;
    display: none;
    z-index: 8002;
}

#lukknap:hover {
    background-color: rgba(0,0,0,0.1);
}

.fag {
    width: 370px;
    line-height: 1.3rem;
}

.done {
    list-style-type: none;
    margin-left: 0;
    text-indent: -1.2rem;

}

.done:before {
    content: "✓";
    display: inline-block;
    color: rgba(41,198,73,1);
    width: 1.2rem;
    float: left;
}

.doing {
    font-weight: bold;
}

.next {
    color: rgba(160,160,160,0.9);
    font-style: italic;
}

#grey {
    color: rgba(160,160,160,0.9)
}

.semester {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.9rem;
    padding-left: 0.1rem;
    padding-top: 0.2rem;
    text-align: center;
}

.underline {
    border-bottom: 1px solid black;
    width: 85px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 1.7rem;
}

.lille {
    text-align: right;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.6rem;
    margin: 0;
    color: rgba(160,160,160,0.9);
}

.lille2 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.8rem;
    margin: 0;
    color: rgba(160,160,160,1);
}

.ssa {
    margin-left: 25px;
    margin-bottom: 8px;
    font-weight: bold;
}

#updated {
    font-style: italic;
    padding-top: 0.2rem;
    top: 89%;
}

.fag a {
    text-decoration: none;
    color: black;
}

.fag a:hover {
    text-decoration: underline;
}

.tredje {
    font-size: 0.9rem;
    margin-top: 15px;
}

.tekst, .tredje {
    margin-left: 49px;
    line-height: 1.5rem;
}

.tekst {
    margin-bottom: 0;
    margin-top: 0;
}

.tredje, .fjerde {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

.fjerde {
    font-size: 0.85rem;
    margin-top: 5px;
}

.fjerde, .tekst2 {
    margin-left: 75px;
    line-height: 1.5rem;
}

.tekst2 {
    margin-top: 1px;
}

#uddannelse:before, #universitet:before, #højskole:before, #gymnasie:before, #efterskole:before, #folkeskole:before, #erhverv:before, #elgiganten:before, #fona:before, #bones:before, #kvickly:before, #kompetencer:before, #kurser:before, #it:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

.boks {
    position: relative;
    border: 1px solid rgba(230,230,230,1);
    width: 63.7%;
    margin: 0 auto 50px auto;
    padding: 0 30px 30px 30px;
    background-color: rgba(245,245,245,1);
    box-shadow: 0 8px 20px rgba(220,220,220,1);
}

.linje {
    border-bottom: 3px solid rgba(0,0,0,0.1);
    width: 250px;
}

.skoleimg {
    position: relative;
    height: 60px;
    top: 20px;
}

.vert-align-top {
    vertical-align: top;
}

.socimg {
    height: 60px;
}

.dklk {
    position: relative;
    top: -18px;
    height: 1.5rem;
}

.kontakttekst {
    margin-left: 5px;
    position:relative;
    top:-24px;
    font-size:1.2rem;
}

.kontaktlink {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(230,230,230,1);
    border-radius: 15px;
    padding: 5px;
}

.kontaktlink:hover {
    background-color: rgba(230,230,230,1);
    box-shadow: 0 8px 16px rgba(220,220,220,1);
}

.indryk {
    position: relative;
    left: 38px;
    margin-left: 50px;
    line-height: 1.5rem;
}

@media screen and (max-width: 1100px) and (min-device-width: 414px) {
    .boks {
        margin-left: 0;
        left: 200px;
        width: 63.7%;
    }

    .liste {
        width: 87.4%;
    }

    .liste2 {
        width: 84%;
    }

    .liste3 {
        width: 90%;
    }

    .kontakttable td {
        display: block;
    }
}

@media only screen and (max-width: 770px) {
    .popup {
        width: 65%;
    }

    #kryds {
        width: 63%;
    }

    .fag {
        width: 83%;
        left: 13.65%;
    }

    .underline {
        left: 5.7%;
    }

    .scrollmenu {
        display: none;
    }

    .boks {
        margin-left: inherit;
        left: 9.5%;
        width: 81.1%;
    }

    .liste {
        width: 150%;
    }

    .liste2 {
        width: 75%;
    }

    .liste3 {
        width: 80%;
    }

    .socimg {
        height: 50px;
    }

    .dklk {
        top: -14px;
    }

    .kontakttekst {
        font-size: 1rem;
        top:-20px;
    }
}
