.kontaktli {
    text-decoration: underline;
}

.kontakttekst {
    position: relative;
    top: 70px;
    width: 75%;
    margin: auto;
}

.kontakttekst h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.kontakttekst h3 {
    margin: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    font-size: 1.6rem;
    text-align: left;
}

.sociallink {
    width: 185px;
    height: 50px;
    position: relative;
    left: 25px;
    margin: 10px 0 15px 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
}

td, th {
    width: 370px;
    /*border: 1px solid black;*/
    padding: 0 10px;
}

.sociallink:hover, #maildiv:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid black;
}

#maillink {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
}

#mailpic {
    height: 50px;
}

#mailadr, #mailpic {
    position: relative;
}

#mailadr {
    left: 55px;
    top: -56px;
    width: 180px;
}

#maildiv {
    position: relative;
    left: 25px;
    top: -5px;
    height: 50px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
}

/*#kontaktemail {
    position: relative;
    top: 50%;
    left: 20px;
    transform: translate(-50% -50%)
    height: 50px;
    width: 280px;
    border-radius: 5px;
}

.sociallink2 {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
}

#kontaktemail li {
    display: inline-block;
}

#kontaktemail p {
    position: relative;
    top: -20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.15rem;
}*/

