/* FOR PHONES (PORTRAIT) */
@media only screen and (max-device-width: 413px) and (orientation: portrait) {
    .table {
        top: 250px;
        width: 90%;
    }

    h1 {
        font-size: 5rem;
    }

    .tdimg {
        height: 160px;
        width: 160px;
    }
}
