.billederli, .dropdown-content a.billederli {
    text-decoration: underline;
}

.billederli {
    text-decoration-color: white;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.table {
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

#billede-grid {
    position: relative;
    top: 70px;
}

.td {
    padding: 2%;
    width: 10px;
}

.tdimg {
    height: 150px;
    width: 150px;
    border-radius: 29px;
}

.tdimg:hover {
    filter: brightness(66%);
}
