#logoli, .dropdown-content a.logoli {
    text-decoration: underline;
}

#logoli {
    text-decoration-color: white;
}

.welcome h1 {
    font-family: 'Raleway', sans-serif;
}

.welcome {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    position: relative;
    top: 60px;
}

.welcome p {
    position: relative;
    top: -15px;
}

.headlines {
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    top: -100px;
    left: 0px;
}

.linjeet:hover, .linjeto:hover, .linjetre:hover, .linjefire:hover {
    font-size: 1.1rem;
    color: rgba(41,198,73,1);
}

.linjeet {
    transform: rotate(-20deg);
    position: absolute;
    text-decoration: overline;
    top: 250px;
    left: 30px;
}

.linjeto {
    transform: rotate(-7deg);
    position: absolute;
    top: 300px;
    left: 40px;
}

.linjetre {
    transform: rotate(7deg);
    position: absolute;
    top: 360px;
    left: 40px;
}

.linjefire {
    transform: rotate(20deg);
    position: absolute;
    top: 410px;
    left: 30px;
    text-decoration: underline;
}
