* {
    box-sizing: border-box;
}

body {
    background-color: rgba(240,240,240,1);
    margin: 0;
    border: 0;
    padding: 0;
}

#cv, #billeder, #logo, #kontakt, #om {
    text-decoration: none;
    color: white;
}

.navigation {
    width: 100%;
    height: 55px;
    background-color: rgba(41,198,73,1);
    text-align: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    margin: 0;
}

.navigation li {
    margin: 12px 9px;
    margin-top: 0;
    position: relative;
    display: inline-block;
    font-family: 'Abel';
    font-size: 18px;
    margin: auto;
    top: 15px;
    width: 150px;
    font-weight: 300;
}

#logoli {
    width: 190px;
    display: inline-block;
}

#dropli {
    display: none;
    position: fixed;
    right: 5.5%;
    top: 0;
    height: 45px;
    width: 45px;
}

#profpic {
    background-image: url(Images/home.png);
    background-size: 85px;
    background-position: 0 0;
    overflow: hidden;
    z-index: 10001;
    position: fixed;
    border: 3px solid rgba(255,255,255,1);
    border-radius: 100%;
    height: 75px;
    width: 75px;
    top: 2.5px;
    left: 5.5%;
}

.navp {
    margin: 0;
}

#profpic:hover {
    background-position: 0 -85px;
}

.divcv {
    width: 45px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}

.divbilleder, .divkontakt, .divom {
    width: 80px;
    border-radius: 5px;
    position: relative;
    margin: auto;
}

.divlogo {
    width: 190px;
    border-radius: 5px;
    margin: auto;
}

#logo {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
}

ul {
    padding: 0;
}

.divcv:hover, .divbilleder:hover, .divlogo:hover, .divkontakt:hover, .divom:hover, .links-logo:hover, .dropdown:hover {
    background-color: rgba(0,0,0,0.1);
}

.links {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 9999;
    background-color: rgba(240,240,240,1);
    border-radius: 10px;
}

.links-logo {
    height: 25px;
    width: 25px;
    margin: 3px;
    margin-bottom: 0;
    border-radius: 3px;
}

.dropdown {
    height: 35px;
    width: 40px;
    position: relative;
    top: 5px;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: relative;
    right: 75px;
    background-color: rgba(235,235,235,1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 10000;
    min-width: 150px;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    line-height: 1.9rem;
    text-decoration: none;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropbtn {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    position: relative;
    top: -7px;
}

.show {
    display: block;
}

@media only screen and (max-width: 1080px) {
    .navigation {
        height: 45px;
    }

    .navigation li {
        top: 10px;
        width: 100px;
     }

    .links {
        top: 50px;
    }

    #profpic {
        background-size: 75px;
        height: 65px;
        width: 65px;
    }

    #profpic:hover {
        background-position: 0 -75px;
    }
}

@media only screen and (max-width: 770px) {
    #cvid, #billederid, #kontaktid, #omid {
        display: none;
    }

    #dropli {
        display: inline-block;
    }
}
