#logoli {
    text-decoration: underline;
}

.welcome {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    position: relative;
    top: 70px;
<<<<<<< HEAD
    height: 100%;
=======
    height: 100%;
>>>>>>> origin/master
    width: 500px;
    margin: auto;
}

.welcome p {
    position: relative;
    top: -25px;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
